@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
:root {
    --first-color: #212121;
    --second-color: #ffffff;
    --third-color: #5956E9;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.background{
     background-image: url(/img/Background\Image.png);
}
.download{
    background-color: #ffffff;
    
}
.download_title {
    color: var(--third-color);
}
.features{
    background-image: url(/img/Background\Image.png);
}